header, footer, aside {
	display: none
}

body, #mainContent {
	float: none;
	width: auto;
	margin: 0;
	padding: 0;
	background: none;
}

body, #mainContent {
	color: black;
	font: 12pt/15pt Georgia, "Times New Roman", Serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family: Arial, Verdana, Helvetica, Sans-serif;
}
