body { padding: 0; margin: auto; max-width: 1024px}
header { height: 100px; position: relative; padding: 0; margin: 0;}
header ul { list-style: none; position: absolute; bottom: 0; margin-bottom: 0;}
header ul li { display: inline; margin: 0 10px; padding: 10px 20px 0;}
aside { float: right; padding: 10px 20px 10px 0;}
aside ul { list-style: none}
#mainContent { overflow: hidden; min-width: 824px}
footer { text-align: center}